@import "tailwindcss";
body {
    background-color: #121517;
}
.border {
    border: 1.02px solid;

border-image-source: linear-gradient(146.68deg, #DADADA -17.38%, rgba(218, 218, 218, 0) 91.61%);


}