@import "tailwindcss";
body {
    background-color: #121517;
    font-family: Montserrat;
}

.swiper-button-prev {
    background-image: url("src/assets/swiper-btn.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 84px;
    height: 84px;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 10;
  }
  
  .swiper-button-next {
    background-image: url("src/assets/swiper-btn.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 84px;
    height: 84px;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 10;
  }
  
  .swiper-navigation-icon {
    display: none;
  }
  
  .effect {
    background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.11) 3.05%, rgba(53, 198, 107, 0.146) 40.73%);
    filter: blur(50px) !important

  }
  .effect-2 {
    background: #D9D9D94D;
    filter: blur(104px)

  }
  .effect-3 {
    background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.55) 3.05%, rgba(53, 198, 107, 0.73) 40.73%);
    filter: blur(110px) !important

  }
  .effect-4 {
    background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.165) 3.05%, rgba(53, 198, 107, 0.219) 40.73%);
    filter: blur(120px)

  }
  .effect-5 {
    background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.11) 3.05%, rgba(53, 198, 107, 0.146) 40.73%);
    filter: blur(104.62498474121094px)

  }
  .effect-6 {
    background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.165) 3.05%, rgba(53, 198, 107, 0.219) 40.73%);
    filter: blur(115.59999084472656px)

  }
  .effect-7 {
    background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.11) 3.05%, rgba(53, 198, 107, 0.146) 40.73%);
    filter: blur(115.59999084472656px)

  }
  .effect-8 {
    background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.0825) 3.05%, rgba(53, 198, 107, 0.1095) 40.73%);
    filter: blur(40px)

  }
  .effect-9 {
    background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.165) 3.05%, rgba(53, 198, 107, 0.219) 40.73%);
    filter: blur(69px)

  }
  .effect-10 {
    background: linear-gradient(267.2deg, rgba(35, 114, 73, 0.0825) 3.05%, rgba(53, 198, 107, 0.1095) 40.73%);
    filter: blur(9px)

  }